.Output {
    width: 100%;
    background: white;
    display: flex;
    height: 50px;
    font-size: 18px;
    margin: 10px 0 40px 0;
}
.Output p {
    margin-left: 15px;
    line-height: 14px;
}
@media only screen and (min-width: 768px) {
    .Output {
        width: 25%;
        margin: 20px 10px 20px;
    }
}